* {
	font-family: "Reenie Beanie",Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 20px;
}

body {
	background-color: #ffffe5;
}

#logo {
	font-family: "Reenie Beanie";
	font-weight: bold;
	text-shadow: 0px 0px 2px #333, 0px 0px 2px #333;
	font-size: 35pt;
	color: #ccf2ff;
	float: left;
	display: inline;
	width:30%;
	padding-left:20px;
}
nav {
	background-color: #0086b3;
	position: absolute;
	top: 0px;
	right: 0;
	width: 100%;
	//height: 50px;
}

ul > li {
	display: inline;	
}

.navbar {
	margin-top: 15px;
}

a {
	text-decoration: none;
	color: #005f80;
	font-weight: bold;
	font-family: "Reenie Beanie";
	font-size: 22px;
}

.memostyle {
	font-family: "Reenie Beanie";
	color: red;
}

#search {
	margin-left: 80px;
	border-radius: 5px;
	padding:3px;
}

footer {
    background-color:#ffffcc;
    clear:both;
    text-align:center;
    padding:5px;
    position: absolute; 
	bottom: 0;
	width: 100%;
}

.form {
	position:relative;
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	border-radius: 4px;
	top: 50px;
	background-color: white;
	border: 1px solid #D2D2D7;
	border-radius: 4px;
	padding: 5px 5px;
	margin-top: 20px;
	z-index: 10;
}

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#loginform {
	border: 1px solid #D2D2D7;
	border-radius: 4px;
	padding: 5px 5px;
	margin-top: 20px;
	background-color: #fffff1;
}

input{
	border-radius:4px;
}

.form-row {
	padding:15px;
}

.form-row:nth-child(even) {
	background-color: #ffffcc;
	border-radius: 4px;
}

.form-row label{
	max-width: 150px;
	width: 100%;
	display:inline-block;
/*	float:left;*/
	padding:3px;
	font-weight:bold;	
}

.inputform { max-width: 300px; width:100%;}

.inputform_select {
	max-width: 100px; width:100%
}

input:invalid { box-shadow: none; }

.checkimg {
	max-width:16px;
	width: 100%;
	max-height:16px;
	height:100%;
	margin-left: 20px;
	display:none;
}

button {
	background: #00cc45;
	background-image: linear-gradient(to bottom, #00cc45, #004d1a);
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 7px;
	padding: 4px 8px;
	border-width: 0px;
	margin-top: 10px;
	//border: solid 1px #20538D;
	font-weight: bold;
	clear: both;
}

button:hover { background-color: #248F8F; }
button#reset:hover { background-color: #248F8F; }
button#submit { float: right; }
button.submit { float: right; }

#login, #logout {
	position: absolute; 
	right: 10px;
}

#logout {
	display: none;
}

#admin {
	background-image: linear-gradient(to bottom, #ff8080, #800000);
	display: none;	
}

#add_issue{
	margin-left:150px;
	margin-top:15px;
	display:none;
}

#deleteissue {
	background-image: linear-gradient(to bottom, #ff8080, #800000);
	display: none;
}

#table {
	display:table;
}
.column {
	display: inline-block;
	width:30%;
}

#box{
	width:70px;
	height:70px;
	border:1px solid black;
}

table {
	display:table;
	position: relative;
	top:100px;
	width:90%;
    border-collapse: collapse;
    margin: 0px auto;
}

table, th, td {
   //border: 1px solid black;
}

.th_line {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 57, 77, 0.6), rgba(0, 0, 0, 0));	
}

td {
    vertical-align: top;
    /*needed if no issue is in column!*/
    width: 33%;
}
th {
	padding: 15px;
	font-family: "Reenie Beanie";
	font-size: 25px;
	color: #00394d;
}

.number {
	margin-right:5px;
	font-family: "Reenie Beanie";
	font-size: 25px;	
}

#bin_progress li, #bin_done li, #bin_todo li  {
  text-decoration: none;
  color: #000;
  margin: 20px;
  width: 200px;
  height: 100px;
  //background: #fcfce8;
  padding: 10px;
  display: block;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

ul li {
  -webkit-transform:rotate(-4deg);
  -o-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
}

ul li:nth-child(even) {
  -o-transform:rotate(2deg);
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n) {
  -o-transform:rotate(-1deg);
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  position:relative;
  top:-5px;
}


#bin_progress li:hover, #bin_done li:hover, #bin_todo li:hover  {
  transform: scale(1.15);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
	z-index:5;
}
/*TEST bins where i can drop the issues*/
#bin, #bin_progress, #bin_done {
  //height: 250px;
  //width: 166px;
  //float: left;
  border: 1px solid #e5ffe5;
  position: relative;
  margin-top: 0;
  cursor:pointer;
}

.high {background: #f3a5a5;}
.medium {background: #f7f7ba;}
.low {background: #adebad;}

/*TICKETS*/
.issue_outerdiv {
	width:200px;
}

.ticket_uname {
	display:inline-block;
	position:absolute;
	font-family:"Reenie Beanie";
	font-size: 20px;
	right:5px;
	  -o-transform:rotate(16deg);
  -webkit-transform:rotate(16deg);
  -moz-transform:rotate(16deg);
  font-style: italic;
}

.issue_title {
    margin: 0 auto;
 	font-family:"Reenie Beanie"; 
 	font-size: 20px;
 	font-weight: bold;
}

.line_through {
	text-decoration:line-through;
	color: #005F80;
}

/*specials for update issue forms*/
.update_form {
	position:relative;
	margin: 0 auto;
	width: 30em;
	border-radius: 4px;
	top: 50px;
	background-color: white;
	border: 1px solid #D2D2D7;
	border-radius: 4px;
	padding: 5px 5px;
	margin-top: 20px;
	z-index: 10;
}

.form-row-update {
	padding:15px;
}

.form-row-update label{
	max-width: 120px;
	width: 100%;
	display:inline-block;
	padding:3px;
	font-weight:bold;	
}

.updateform_high {
	background-color: #F9D2D2;
}

.updateform_medium {
	background-color: #FAFAD1;
}

.updateform_low {
	background-color: #C2F0C2;
}
